@font-face {
    font-family: "Chinese Rocks";
    src: url(assets/chinese-rocks-free/chinese\ rocks\ rg.otf) format(opentype);
}

:root {
    /*--primary-color--: rgb(153, 148, 116);*/
    --primary-color--: rgb(196, 189, 148);
    --content-max-width--: 1500px;
    --primary-font-color--: #8B5E3C;
}

body {
    background-color: #fff;
    background-image: repeating-linear-gradient(
    to bottom,
    #eee 0,
    #eee 1px,
    transparent 1px,
    transparent 20px
    );
}

header {
    /*background-color: rgb(237, 245, 247);*/
    background-color: var(--primary-color--);
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    min-width: 1320px;
    max-width: var(--content-max-width--);
    margin: 5px 300px 5px 300px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    letter-spacing: 5px;
    padding: 0px 20px 0px 20px;
    font-family: 'Chinese Rocks';
    font-size: 60px;
    color: var(--primary-font-color--);
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 700px;
}

.search-bar input {
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    width: 100%;
    height: 35px;
    line-height: 1;
    /*font-family:'Courier New', Courier, monospace;*/
    font-size: 18px;
    background-color: white;
}

.add-book-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Chinese Rocks';
    font-size: 25px;
    color: #8B5E3C;
    border-color: rgb(190, 190, 190);
    background: white;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    max-height: 40px;
}

.add-book-btn:hover {
    background: rgb(241, 231, 199);
}

.add-book-btn:active {
    background: rgb(202, 174, 95);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 20px;
    width: 1300px;
}

.card {
    position: relative;
    overflow: hidden;
    border: 1px solid var(--primary-font-color--);
    
    display: grid;
    grid-template-columns: subgrid;
    border-radius: 8px;
    background-color: #fffde4;
    min-width: 300px;
    min-height: 175px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
    color: var(--primary-font-color--);
}

.card::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background-color: var(--primary-font-color--);
}

.card h2, .card p {
    margin: 0;
    margin-left: 8px;
    margin-right: 8px;
}

.card h2 {
    margin-top: 10px;
    font-family: 'Chinese Rocks';
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 500;
}

.card-action-wrapper {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 5px;
}

.card button {
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 85px;
    height: 30px;
    color: white;
}

.green-btn {
    background-color: rgb(52, 221, 52);
}

.red-btn {
    background-color: rgb(218, 25, 25);
}

.card .delete {
    width: 70px;
}